body {
    background-color: grey !important;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.simon-board {
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    border: solid 5px black;
    border-radius: 600px;
}

.simon-btn {
    margin: 0;
    float: left;
    position: relative;
    height: 295px;
    width: 295px;
    border: solid 2px black;
    cursor: pointer;
    z-index: 8;
}

.red {
    background-color: red;
    border-radius: 0 300px 0 0;
}

.blue {
    background-color: blue;
    border-radius: 0 0 300px 0;
}

.yellow {
    background-color: yellow;
    border-radius: 0 0 0 300px;
}

.green {
    background-color: green;
    border-radius: 300px 0 0 0;
}

.red-active {
    background-color: darkred;
}

.blue-active {
    background-color: darkblue;
}

.yellow-active {
    background-color: darkgoldenrod;
}

.green-active {
    background-color: darkgreen;
}

.controls {
    width: 245px;
    height: 245px;
    margin-left: 170px;
    margin-top: 170px;
    background-color: white;
    border: solid 10px black;
    border-radius: 150px;
    position: absolute;
    z-index: 10;
}

.title {
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.display {
    width: 60px;
    height: 45px;
    border: solid 2px black;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    background-color: #342626;
    line-height: 40px;
}

.switch-container {
    margin-top: 20px;
}

.start-btn, .strict-btn {
    margin: 0;
    margin-left: 20px;
    text-align: center;
    height: 55px;
    width: 55px;
    border: solid 2px black;
    border-radius: 30px;
    font-size: 18px;
    line-height: 55px;
}

.start-btn {
    background-color: red;
    cursor: pointer;
}

.strict-btn {
    background-color: yellow;
}

.outer-switch {
    width: 60px;
    height: 30px;
    border: solid 2px black;
    background-color: black;
}

.inner-switch {
    margin: 0;
    width: 28px;
    height: 28px;
    background-color: grey;
}