body {
    background-color: #333 !important;
}

.simon-btn {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}